@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: slide 20s linear infinite;
}

.marquee-paused {
  animation-play-state: paused;
}
